
{% extends 'base.html' %} {% block content %}
    {% load crispy_forms_tags %}

      <!-- Projects -->
      <section id="projects" class="section projects">
        <h2 class="section__title">Blog</h2>

        <div class="projects__grid">
          {% for blog in blog_list %}
          <div class="project">
            <h3>{{ blog.title }}</h3>
            <p class="project__description">{{ blog.content|safe|slice:":200" }}</p>
            <a href="{% url 'blog_detail' blog.slug %}" class="project__stack-item" style="text-decoration: none">Read More &rarr;</a>

            {% if blog.show_link %}
            <a href="{{ post.link }}" aria-label="source code" class="link link--icon">
              <i aria-hidden="true" class="fab fa-github"></i>
            </a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>
{% endblock content %}